<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talelife.myproject.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="resultMap" type="com.talelife.myproject.model.User">
        <!-- id -->
        <id property="id" column="id" javaType="Long" />
		<!-- 姓名 -->
		<result property="username" column="username" javaType="String" />
		<!-- 年龄 -->
		<result property="age" column="age" javaType="Integer" />
	</resultMap>

  <sql id="baseColumns">
  	<trim suffixOverrides=","> 
        id,
        username,
        age,
  	</trim>
  </sql>
  
  <sql id="whereSql">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="username != null">
			and username = #{username}
		</if>
		<if test="age != null">
			and age = #{age}
		</if>
  </sql>
  
  	<select id="getById" resultMap="resultMap">
		select <include refid="baseColumns"/> from t_user where id = #{id}
	</select>
	
	<select id="getByIds" resultMap="resultMap">
	     select <include refid="baseColumns"/> from t_user  where id in
		 <foreach collection="ids" item="item" index="index"  open="(" close=")" separator=",">
             #{item}
         </foreach>
	</select>

	<select id="get" resultMap="resultMap" parameterType="com.talelife.myproject.model.User">
		select <include refid="baseColumns"/> from
         t_user  where 1=1 <include refid="whereSql"/> limit 1
	</select>
	
	<select id="findAllList" resultMap="resultMap">
	     select <include refid="baseColumns"/> from t_user
	</select>

	<select id="findList"  parameterType="com.talelife.myproject.model.User" resultMap="resultMap">
	     select <include refid="baseColumns"/> from t_user where 1=1 <include refid="whereSql"/>
	</select>

	 <select id="getCount"  parameterType="com.talelife.myproject.model.User" resultType="java.lang.Integer">
         select count(1) from t_user where 1=1 <include refid="whereSql"/>
      </select>

      <insert id="save" parameterType="com.talelife.myproject.model.User">
       insert into t_user (
			<trim suffixOverrides=","> 
				<if test="id != null">
					id,
				</if>
				<if test="username != null">
					username,
				</if>
				<if test="age != null">
					age,
				</if>
			</trim>
		) values (
			<trim suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="username != null">
					#{username},
				</if>
				<if test="age != null">
					#{age},
				</if>
			</trim>
	)
    </insert>
    
    <update id="updateById" parameterType="com.talelife.myproject.model.User">
	    update t_user  set
	     <trim suffixOverrides="," >
			<if test="id != null">
				id = #{id},
			</if>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
		 </trim>
		 where id = #{id}
	 </update>

	 <update id="updateByIds" parameterType="com.talelife.myproject.model.User">
          update t_user  set
	     <trim suffixOverrides="," >
			<if test="id != null">
				id = #{id},
			</if>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
		</trim>
		where id in
		  <foreach collection="ids" item="item" index="index"  open="(" close=")" separator=",">
               #{item}
         </foreach>
	</update>
	
	<delete id="deleteById">
        delete from t_user where id = #{id}
	</delete>
    
    <delete id="deleteByIds">
        delete from t_user where id in 
		<foreach collection="array" item="item" index="index"  open="(" close=")" separator=",">
            #{item}
        </foreach>  
	</delete>

   <delete id="deleteByListId">
        delete from t_user where id in
		<foreach collection="list" item="item" index="index"  open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
    
    <delete id="delete" parameterType="com.talelife.myproject.model.User">
        delete from t_user where 1=1 <include refid="whereSql"/> 
    </delete>
</mapper>
